body {
	background: #fcfcfc;
	margin: 0px;
}

h1 {
	padding-top: 1em;
	text-align: center;
	color: #808080;
}

a:link, a:visited
{
	color: #dd4444;
}

a:active
{
	color: #ff4444;
}

td {
	vertical-align: top;
	padding-bottom: 1em;
}

td.fld {
	font-weight: bold;
}

div.bar {
	font-weight: bold;
	background: #f0f0f0;
	border: 2px solid #c0c0c0;
	-moz-border-radius: 8px;
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-top: 0.4em;
	margin-bottom: 2em;
}

div.bar a {
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #b0b0b0;
}

div.content {
	width: 80%;
	margin-left: 10%;
	padding: 1em;
	background: white;
	border: 1px solid #f0f0f0;
	margin-bottom: 1em;
}

div.copy, div.copy a {
	font-size: 7pt;
	color: #a0a0a0;
	text-align: center;
	margin-bottom: 2em;
}

div.heading {
	font-style: italic;
	font-weight: bold;
	border-bottom: 1px solid #f8f8f8;
	margin-bottom: 0.5em;
}

key {
	font-weight: bold;
	padding: 0px 1px 0px 1px;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	background: #faf6f6;
	color: #806868;
	border-color:  #edd #baa #baa #edd;
	-moz-border-radius: 4px;
}

pre {
	font-weight: bold;
	color: #008800;
	padding-left:16px;
	font-size: 9pt;
}