@-moz-document url-prefix("http://"),url-prefix("https://"),url-prefix("mailbox://"),url-prefix("imap://"),url-prefix("news://"),url-prefix("snews://"){
div.tetris_brand{-moz-binding: url(about:abp-elemhidehit?248478478211#dummy) !important;}
div.bunner_container{-moz-binding: url(about:abp-elemhidehit?413320066140#dummy) !important;}
div.newDesignButton{-moz-binding: url(about:abp-elemhidehit?505541537647#dummy) !important;}
#counters{-moz-binding: url(about:abp-elemhidehit?818853317238#dummy) !important;}
.b-banner{-moz-binding: url(about:abp-elemhidehit?631952766408#dummy) !important;}
#left_ads{-moz-binding: url(about:abp-elemhidehit?469486955496#dummy) !important;}
#top-ads{-moz-binding: url(about:abp-elemhidehit?407123866177#dummy) !important;}
#bn-bot-wrap{-moz-binding: url(about:abp-elemhidehit?500773756660#dummy) !important;}
#sape_okn{-moz-binding: url(about:abp-elemhidehit?158477627950#dummy) !important;}
.g_blank_likes{-moz-binding: url(about:abp-elemhidehit?870186448261#dummy) !important;}
.googleplus{-moz-binding: url(about:abp-elemhidehit?223418145471#dummy) !important;}
.g-plus{-moz-binding: url(about:abp-elemhidehit?572092999435#dummy) !important;}
.twitter{-moz-binding: url(about:abp-elemhidehit?787103737736#dummy) !important;}
.twitter-follow-button{-moz-binding: url(about:abp-elemhidehit?996059837449#dummy) !important;}
#facebook{-moz-binding: url(about:abp-elemhidehit?370149822864#dummy) !important;}
.facebook{-moz-binding: url(about:abp-elemhidehit?421705404396#dummy) !important;}
.fb-like{-moz-binding: url(about:abp-elemhidehit?957183359154#dummy) !important;}
.vkontakte{-moz-binding: url(about:abp-elemhidehit?686975018798#dummy) !important;}
.yashare-auto-init{-moz-binding: url(about:abp-elemhidehit?301588434528#dummy) !important;}
.social-links{-moz-binding: url(about:abp-elemhidehit?365181412155#dummy) !important;}
.fb-like-box{-moz-binding: url(about:abp-elemhidehit?448373573886#dummy) !important;}
.gmt-social-buttons{-moz-binding: url(about:abp-elemhidehit?283419974198#dummy) !important;}
.post_share{-moz-binding: url(about:abp-elemhidehit?243061801704#dummy) !important;}
.share-button{-moz-binding: url(about:abp-elemhidehit?983527462689#dummy) !important;}
.share_block{-moz-binding: url(about:abp-elemhidehit?921494889429#dummy) !important;}
.sharebar{-moz-binding: url(about:abp-elemhidehit?959158973738#dummy) !important;}
#social-media{-moz-binding: url(about:abp-elemhidehit?313510303092#dummy) !important;}
#b_soc{-moz-binding: url(about:abp-elemhidehit?522096903506#dummy) !important;}
.social{-moz-binding: url(about:abp-elemhidehit?373529976905#dummy) !important;}
.addthis_toolbox{-moz-binding: url(about:abp-elemhidehit?400188791654#dummy) !important;}
a[href^="http://click.hotlog.ru/"]{-moz-binding: url(about:abp-elemhidehit?065245500081#dummy) !important;}
a[href^="http://hitcounter.ru/top/stat.php"]{-moz-binding: url(about:abp-elemhidehit?328207120648#dummy) !important;}
a[href^="http://top100.rambler.ru/"]{-moz-binding: url(about:abp-elemhidehit?858935653718#dummy) !important;}
img[src^="/stat/"][width="88"][height="31"]{-moz-binding: url(about:abp-elemhidehit?134302449336#dummy) !important;}
#AUI_A9AdsMiddleBoxTop{-moz-binding: url(about:abp-elemhidehit?355859754121#dummy) !important;}
#Ad160x600_0_adchoice{-moz-binding: url(about:abp-elemhidehit?578681197614#dummy) !important;}
#DartAd300x250{-moz-binding: url(about:abp-elemhidehit?184879220198#dummy) !important;}
#HomepageAdSpace{-moz-binding: url(about:abp-elemhidehit?387389524657#dummy) !important;}
#TOP_RIGHT_BOXAD{-moz-binding: url(about:abp-elemhidehit?240772173182#dummy) !important;}
#ad-north-base{-moz-binding: url(about:abp-elemhidehit?641477569297#dummy) !important;}
#ad1{-moz-binding: url(about:abp-elemhidehit?403423644892#dummy) !important;}
#ad2{-moz-binding: url(about:abp-elemhidehit?607354174294#dummy) !important;}
#ad3{-moz-binding: url(about:abp-elemhidehit?725128116505#dummy) !important;}
#ad300{-moz-binding: url(about:abp-elemhidehit?521789251819#dummy) !important;}
#ad728x90{-moz-binding: url(about:abp-elemhidehit?906333890533#dummy) !important;}
#adB{-moz-binding: url(about:abp-elemhidehit?909706789627#dummy) !important;}
#adL{-moz-binding: url(about:abp-elemhidehit?833324825822#dummy) !important;}
#adMOBILEBOTTOM{-moz-binding: url(about:abp-elemhidehit?267748627244#dummy) !important;}
#adMOBILETOP{-moz-binding: url(about:abp-elemhidehit?246606414942#dummy) !important;}
#adSpace0{-moz-binding: url(about:abp-elemhidehit?598153686276#dummy) !important;}
#adSpace1{-moz-binding: url(about:abp-elemhidehit?631524417269#dummy) !important;}
#adSpace2{-moz-binding: url(about:abp-elemhidehit?517584344300#dummy) !important;}
#adcontainer1{-moz-binding: url(about:abp-elemhidehit?681182535555#dummy) !important;}
#adcontainer3{-moz-binding: url(about:abp-elemhidehit?817997643903#dummy) !important;}
#adholder{-moz-binding: url(about:abp-elemhidehit?806579163673#dummy) !important;}
#adkit_mrec1{-moz-binding: url(about:abp-elemhidehit?863657146487#dummy) !important;}
#adkit_mrec2{-moz-binding: url(about:abp-elemhidehit?920325340134#dummy) !important;}
#adsense{-moz-binding: url(about:abp-elemhidehit?642613646185#dummy) !important;}
#advertSection{-moz-binding: url(about:abp-elemhidehit?979318715925#dummy) !important;}
#advertiseLink{-moz-binding: url(about:abp-elemhidehit?346212563011#dummy) !important;}
#amazon-affiliates{-moz-binding: url(about:abp-elemhidehit?547387183634#dummy) !important;}
#bannerad{-moz-binding: url(about:abp-elemhidehit?847647509188#dummy) !important;}
#billboard_ad{-moz-binding: url(about:abp-elemhidehit?063143034606#dummy) !important;}
#bottomMPU{-moz-binding: url(about:abp-elemhidehit?335035022235#dummy) !important;}
#bottom_ad_wrapper{-moz-binding: url(about:abp-elemhidehit?829389040121#dummy) !important;}
#bottomads{-moz-binding: url(about:abp-elemhidehit?696849746605#dummy) !important;}
#gallery-sponsored-links_divID{-moz-binding: url(about:abp-elemhidehit?361155311298#dummy) !important;}
#googleAds{-moz-binding: url(about:abp-elemhidehit?251953891957#dummy) !important;}
#google_ads_frame1{-moz-binding: url(about:abp-elemhidehit?147319537924#dummy) !important;}
#headerAd{-moz-binding: url(about:abp-elemhidehit?384860462865#dummy) !important;}
#homead{-moz-binding: url(about:abp-elemhidehit?728801820249#dummy) !important;}
#insticator-container{-moz-binding: url(about:abp-elemhidehit?033482983025#dummy) !important;}
#islandAdPane{-moz-binding: url(about:abp-elemhidehit?032986012298#dummy) !important;}
#islandAdPane2{-moz-binding: url(about:abp-elemhidehit?351496854363#dummy) !important;}
#layeradsense{-moz-binding: url(about:abp-elemhidehit?010539473161#dummy) !important;}
#leftAd_rdr{-moz-binding: url(about:abp-elemhidehit?927045882286#dummy) !important;}
#logoBannerBox{-moz-binding: url(about:abp-elemhidehit?806284537235#dummy) !important;}
#mbEnd{-moz-binding: url(about:abp-elemhidehit?503439668257#dummy) !important;}
#mrktImg{-moz-binding: url(about:abp-elemhidehit?093388939477#dummy) !important;}
#rightAd_rdr{-moz-binding: url(about:abp-elemhidehit?160392630453#dummy) !important;}
#self_serve_ads{-moz-binding: url(about:abp-elemhidehit?065612658054#dummy) !important;}
#skyscraper{-moz-binding: url(about:abp-elemhidehit?448675206271#dummy) !important;}
#smartBanner{-moz-binding: url(about:abp-elemhidehit?301435780668#dummy) !important;}
#socialFocusContainer{-moz-binding: url(about:abp-elemhidehit?218804585178#dummy) !important;}
#sponsoredLinks{-moz-binding: url(about:abp-elemhidehit?791102148705#dummy) !important;}
#sponsoredlinks{-moz-binding: url(about:abp-elemhidehit?169948126636#dummy) !important;}
#tads{-moz-binding: url(about:abp-elemhidehit?489568309249#dummy) !important;}
#theAd{-moz-binding: url(about:abp-elemhidehit?909795309213#dummy) !important;}
#tmgAds_mpu{-moz-binding: url(about:abp-elemhidehit?578603312023#dummy) !important;}
#tmglBannerAd{-moz-binding: url(about:abp-elemhidehit?133284193319#dummy) !important;}
#topMPU{-moz-binding: url(about:abp-elemhidehit?076579700037#dummy) !important;}
#top_ad{-moz-binding: url(about:abp-elemhidehit?090991056204#dummy) !important;}
#yan-sponsored{-moz-binding: url(about:abp-elemhidehit?530104086889#dummy) !important;}
.Ad{-moz-binding: url(about:abp-elemhidehit?648675829138#dummy) !important;}
.Ad300x250{-moz-binding: url(about:abp-elemhidehit?390983246337#dummy) !important;}
.AdUnit{-moz-binding: url(about:abp-elemhidehit?881196596075#dummy) !important;}
.AdvertisementText{-moz-binding: url(about:abp-elemhidehit?583918854854#dummy) !important;}
.ad{-moz-binding: url(about:abp-elemhidehit?369381121895#dummy) !important;}
.ad-article-breaker{-moz-binding: url(about:abp-elemhidehit?085779933737#dummy) !important;}
.ad-banner{-moz-binding: url(about:abp-elemhidehit?370971512604#dummy) !important;}
.ad-banner-leaderboard{-moz-binding: url(about:abp-elemhidehit?575965483869#dummy) !important;}
.ad-div{-moz-binding: url(about:abp-elemhidehit?137515286510#dummy) !important;}
.ad-embedded{-moz-binding: url(about:abp-elemhidehit?010827687369#dummy) !important;}
.ad-engage{-moz-binding: url(about:abp-elemhidehit?293693032110#dummy) !important;}
.ad-header{-moz-binding: url(about:abp-elemhidehit?081198564178#dummy) !important;}
.ad-leaderboard{-moz-binding: url(about:abp-elemhidehit?953300135539#dummy) !important;}
.ad-sample{-moz-binding: url(about:abp-elemhidehit?815015961506#dummy) !important;}
.ad-slot{-moz-binding: url(about:abp-elemhidehit?813597101419#dummy) !important;}
.ad-tag{-moz-binding: url(about:abp-elemhidehit?092199213786#dummy) !important;}
.ad-title{-moz-binding: url(about:abp-elemhidehit?665985250348#dummy) !important;}
.ad-zone-container{-moz-binding: url(about:abp-elemhidehit?682107946209#dummy) !important;}
.ad300x250{-moz-binding: url(about:abp-elemhidehit?532626744318#dummy) !important;}
.adBox{-moz-binding: url(about:abp-elemhidehit?849307101236#dummy) !important;}
.adContainer{-moz-binding: url(about:abp-elemhidehit?054529456140#dummy) !important;}
.adHeader{-moz-binding: url(about:abp-elemhidehit?988271407120#dummy) !important;}
.adHolder{-moz-binding: url(about:abp-elemhidehit?013358810505#dummy) !important;}
.adNoOutline{-moz-binding: url(about:abp-elemhidehit?645112875984#dummy) !important;}
.adSpace{-moz-binding: url(about:abp-elemhidehit?286795176387#dummy) !important;}
.adStyle{-moz-binding: url(about:abp-elemhidehit?301030865716#dummy) !important;}
.ad_300_250{-moz-binding: url(about:abp-elemhidehit?560037328089#dummy) !important;}
.ad_300x250{-moz-binding: url(about:abp-elemhidehit?183642058151#dummy) !important;}
.ad_728x90{-moz-binding: url(about:abp-elemhidehit?315741357769#dummy) !important;}
.ad_top{-moz-binding: url(about:abp-elemhidehit?022736287903#dummy) !important;}
.ad_wrapper{-moz-binding: url(about:abp-elemhidehit?695959547208#dummy) !important;}
.adbox{-moz-binding: url(about:abp-elemhidehit?081959282653#dummy) !important;}
.adfliction{-moz-binding: url(about:abp-elemhidehit?592138089436#dummy) !important;}
.admpu{-moz-binding: url(about:abp-elemhidehit?114481109089#dummy) !important;}
.adroot{-moz-binding: url(about:abp-elemhidehit?719950569808#dummy) !important;}
.ads_slots_snippet{-moz-binding: url(about:abp-elemhidehit?360709634778#dummy) !important;}
.ads_wrapper{-moz-binding: url(about:abp-elemhidehit?543015383779#dummy) !important;}
.adsbygoogle{-moz-binding: url(about:abp-elemhidehit?718864295455#dummy) !important;}
.adtop{-moz-binding: url(about:abp-elemhidehit?920344826650#dummy) !important;}
.adunit_rectangle{-moz-binding: url(about:abp-elemhidehit?276879289465#dummy) !important;}
.advert{-moz-binding: url(about:abp-elemhidehit?585784025563#dummy) !important;}
.advertise{-moz-binding: url(about:abp-elemhidehit?133120305398#dummy) !important;}
.advertiseText{-moz-binding: url(about:abp-elemhidehit?470232767603#dummy) !important;}
.advertisement{-moz-binding: url(about:abp-elemhidehit?610675076602#dummy) !important;}
.advertisement-layout{-moz-binding: url(about:abp-elemhidehit?017865287221#dummy) !important;}
.advertising{-moz-binding: url(about:abp-elemhidehit?466774981381#dummy) !important;}
.advertisingTable{-moz-binding: url(about:abp-elemhidehit?722877986810#dummy) !important;}
.advertorial-pointer{-moz-binding: url(about:abp-elemhidehit?525717992372#dummy) !important;}
.affiliate-module{-moz-binding: url(about:abp-elemhidehit?942586394198#dummy) !important;}
.affiliate-mrec-iframe{-moz-binding: url(about:abp-elemhidehit?451078245078#dummy) !important;}
.article_ad{-moz-binding: url(about:abp-elemhidehit?571714953433#dummy) !important;}
.b_ad{-moz-binding: url(about:abp-elemhidehit?379775422195#dummy) !important;}
.banner-ad{-moz-binding: url(about:abp-elemhidehit?461804731386#dummy) !important;}
.bannerAd{-moz-binding: url(about:abp-elemhidehit?249704685531#dummy) !important;}
.bannerAdContainer{-moz-binding: url(about:abp-elemhidehit?734440602014#dummy) !important;}
.display-ad{-moz-binding: url(about:abp-elemhidehit?371126864563#dummy) !important;}
.earAdv{-moz-binding: url(about:abp-elemhidehit?686302072426#dummy) !important;}
.footer_ad{-moz-binding: url(about:abp-elemhidehit?753776290580#dummy) !important;}
.frame_adv{-moz-binding: url(about:abp-elemhidehit?266204015796#dummy) !important;}
.gooad{-moz-binding: url(about:abp-elemhidehit?663323543460#dummy) !important;}
.google-sky{-moz-binding: url(about:abp-elemhidehit?685352803188#dummy) !important;}
.googleAd{-moz-binding: url(about:abp-elemhidehit?726346257803#dummy) !important;}
.googleAds{-moz-binding: url(about:abp-elemhidehit?302076956794#dummy) !important;}
.google_adwords{-moz-binding: url(about:abp-elemhidehit?638935999194#dummy) !important;}
.googleads{-moz-binding: url(about:abp-elemhidehit?317166210780#dummy) !important;}
.has-ad{-moz-binding: url(about:abp-elemhidehit?294905352007#dummy) !important;}
.headerAd{-moz-binding: url(about:abp-elemhidehit?974494808193#dummy) !important;}
.headerTextAd{-moz-binding: url(about:abp-elemhidehit?190855751051#dummy) !important;}
.inline-ad{-moz-binding: url(about:abp-elemhidehit?951998309337#dummy) !important;}
.item-container-ad{-moz-binding: url(about:abp-elemhidehit?672848466273#dummy) !important;}
.js-adfliction-standard{-moz-binding: url(about:abp-elemhidehit?646238923223#dummy) !important;}
.js-sponsored-photos{-moz-binding: url(about:abp-elemhidehit?467290988262#dummy) !important;}
.js-stream-ad{-moz-binding: url(about:abp-elemhidehit?420398234271#dummy) !important;}
.mapped-ad{-moz-binding: url(about:abp-elemhidehit?623882526098#dummy) !important;}
.marketing-ad{-moz-binding: url(about:abp-elemhidehit?045620263015#dummy) !important;}
.masthead-ad{-moz-binding: url(about:abp-elemhidehit?244591532441#dummy) !important;}
.mobile-ad{-moz-binding: url(about:abp-elemhidehit?089031358601#dummy) !important;}
.mpu{-moz-binding: url(about:abp-elemhidehit?066084174686#dummy) !important;}
.netshelter-ad{-moz-binding: url(about:abp-elemhidehit?584825420581#dummy) !important;}
.other_adv{-moz-binding: url(about:abp-elemhidehit?109724867775#dummy) !important;}
.resultad{-moz-binding: url(about:abp-elemhidehit?786998061600#dummy) !important;}
.right_col_ad{-moz-binding: url(about:abp-elemhidehit?345158925685#dummy) !important;}
.search-message-container-ad{-moz-binding: url(about:abp-elemhidehit?088699465146#dummy) !important;}
.showcaseAd{-moz-binding: url(about:abp-elemhidehit?892288308452#dummy) !important;}
.side-ad{-moz-binding: url(about:abp-elemhidehit?376051772779#dummy) !important;}
.sidebar-ad{-moz-binding: url(about:abp-elemhidehit?089189150068#dummy) !important;}
.sidebar_right_ad{-moz-binding: url(about:abp-elemhidehit?355601791678#dummy) !important;}
.snarcy-ad{-moz-binding: url(about:abp-elemhidehit?293309482287#dummy) !important;}
.sponsor{-moz-binding: url(about:abp-elemhidehit?077882366410#dummy) !important;}
.sponsored_links{-moz-binding: url(about:abp-elemhidehit?190278114868#dummy) !important;}
.topAd{-moz-binding: url(about:abp-elemhidehit?418419539284#dummy) !important;}
.topBannerAd{-moz-binding: url(about:abp-elemhidehit?416218569270#dummy) !important;}
.videoads{-moz-binding: url(about:abp-elemhidehit?242667948866#dummy) !important;}
.wall_ad{-moz-binding: url(about:abp-elemhidehit?340675109708#dummy) !important;}
.widget-ad{-moz-binding: url(about:abp-elemhidehit?067723888131#dummy) !important;}
.y7-advertisement{-moz-binding: url(about:abp-elemhidehit?913406876230#dummy) !important;}
A[href^="http://ad.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?062801859904#dummy) !important;}
A[href^="http://pubads.g.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?684512162467#dummy) !important;}
A[href^="http://www.ringtonematcher.com/"]{-moz-binding: url(about:abp-elemhidehit?145712470931#dummy) !important;}
A[href^="http://www.uniblue.com/"]{-moz-binding: url(about:abp-elemhidehit?718853086851#dummy) !important;}
A[href^="https://ad.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?806367078413#dummy) !important;}
A[title="Advertising"]{-moz-binding: url(about:abp-elemhidehit?528573353673#dummy) !important;}
DIV[class*="adv-box"]{-moz-binding: url(about:abp-elemhidehit?314093759931#dummy) !important;}
DIV[class^="box-ad"]{-moz-binding: url(about:abp-elemhidehit?845948998295#dummy) !important;}
DIV[class^="commercial-unit-"]{-moz-binding: url(about:abp-elemhidehit?465186276245#dummy) !important;}
DIV[id$="Ad-Proxy"]{-moz-binding: url(about:abp-elemhidehit?688654354042#dummy) !important;}
DIV[id*="-ads"]{-moz-binding: url(about:abp-elemhidehit?444521154039#dummy) !important;}
DIV[id*="AdWrapper"]{-moz-binding: url(about:abp-elemhidehit?486999916488#dummy) !important;}
DIV[id*="FloatingBanner"]{-moz-binding: url(about:abp-elemhidehit?282211907605#dummy) !important;}
DIV[id^="div-gpt-ad"]{-moz-binding: url(about:abp-elemhidehit?930532612485#dummy) !important;}
DIV[id^="taboola-"]{-moz-binding: url(about:abp-elemhidehit?475666622373#dummy) !important;}
IFRAME[name*="ads-center"]{-moz-binding: url(about:abp-elemhidehit?658639666413#dummy) !important;}
}
@-moz-document domain("militaryreview.su"){
.bbanerr{-moz-binding: url(about:abp-elemhidehit?431377587248#dummy) !important;}
}
@-moz-document domain("4pda.ru"){
[class][style="display:block!important"] > [class][style="display:block!important"]{-moz-binding: url(about:abp-elemhidehit?220708942050#dummy) !important;}
a[rel="nofollow"][href][target="_blank"] > img[src][height="90"][alt]{-moz-binding: url(about:abp-elemhidehit?621699844061#dummy) !important;}
aside > div[class][style="display:block!important"] > a[style="display:block!important"][target="_blank"]{-moz-binding: url(about:abp-elemhidehit?580225653096#dummy) !important;}
aside > div[class][style="display:block!important"] > iframe[src*="banner"]{-moz-binding: url(about:abp-elemhidehit?403894907359#dummy) !important;}
tbody > tr[valign="top"] > td[width="20%"] + td[class]{-moz-binding: url(about:abp-elemhidehit?266969545942#dummy) !important;}
}
@-moz-document domain("dailymotion.com"){
.hidden-sm.hidden-md{-moz-binding: url(about:abp-elemhidehit?444231380191#dummy) !important;}
}
@-moz-document domain("facebook.com"){
#pagelet_side_ads{-moz-binding: url(about:abp-elemhidehit?097803025589#dummy) !important;}
.ego_unit_container{-moz-binding: url(about:abp-elemhidehit?526253038158#dummy) !important;}
}
@-moz-document domain("mail.google.com"){
.aKB{-moz-binding: url(about:abp-elemhidehit?895571480312#dummy) !important;}
.nH.PS{-moz-binding: url(about:abp-elemhidehit?295039470226#dummy) !important;}
}
@-moz-document domain("mail.yahoo.com"){
#slot_MB{-moz-binding: url(about:abp-elemhidehit?901305104407#dummy) !important;}
}
@-moz-document domain("wikipedia.org"){
#centralNotice{-moz-binding: url(about:abp-elemhidehit?248653684740#dummy) !important;}
}
@-moz-document domain("yahoo.com"){
.Feedback{-moz-binding: url(about:abp-elemhidehit?002461565003#dummy) !important;}
LI[id^="ad-"]{-moz-binding: url(about:abp-elemhidehit?059812730191#dummy) !important;}
}
@-moz-document domain("youtube.com"){
#video-masthead{-moz-binding: url(about:abp-elemhidehit?745426832435#dummy) !important;}
#watch-channel-brand-div{-moz-binding: url(about:abp-elemhidehit?977916724899#dummy) !important;}
DIV[class*="-ads-"]{-moz-binding: url(about:abp-elemhidehit?405512887545#dummy) !important;}
}
@-moz-document domain("all-free-download.com"){
DIV[class$="banner"]{-moz-binding: url(about:abp-elemhidehit?852867822143#dummy) !important;}
LI[id^="ads"]{-moz-binding: url(about:abp-elemhidehit?631976936854#dummy) !important;}
}
@-moz-document domain("all-free-download.com"),domain("comicsalliance.com"),domain("dailymotion.com"),domain("krebsonsecurity.com"){
DIV[id$="banner"]{-moz-binding: url(about:abp-elemhidehit?126137352016#dummy) !important;}
}
@-moz-document domain("cnet.com"),domain("empireonline.com"),domain("laptopmag.com"){
DIV[id^="leader"]{-moz-binding: url(about:abp-elemhidehit?708939312717#dummy) !important;}
}
@-moz-document domain("cosmopolitan.com"){
DIV[class^="leader"]{-moz-binding: url(about:abp-elemhidehit?926358911975#dummy) !important;}
}
@-moz-document domain("comingsoon.net"),domain("digitaltrends.com"),domain("techradar.com"){
DIV[class*="leaderboard"]{-moz-binding: url(about:abp-elemhidehit?464472440102#dummy) !important;}
}
@-moz-document domain("eventcinemas.com.au"),domain("eventcinemas.co.nz"),domain("thedailysheeple.com"){
.ads{-moz-binding: url(about:abp-elemhidehit?550727473413#dummy) !important;}
}
@-moz-document domain("mirror.co.uk"){
.top-slot{-moz-binding: url(about:abp-elemhidehit?421818701500#dummy) !important;}
}
@-moz-document domain("movieweb.com"),domain("nerdist.com"){
DIV[class^="banner"]{-moz-binding: url(about:abp-elemhidehit?120041105060#dummy) !important;}
}
@-moz-document domain("pixabay.com"){
DIV[class*="sponsored"]{-moz-binding: url(about:abp-elemhidehit?022751713699#dummy) !important;}
}
@-moz-document domain("twitter.com"),domain("wnd.com"),domain("youtube.com"){
DIV[class*="prom"]{-moz-binding: url(about:abp-elemhidehit?924871752915#dummy) !important;}
}
@-moz-document domain("washingtonpost.com"){
DIV[class$="leaderboard"]{-moz-binding: url(about:abp-elemhidehit?980733497808#dummy) !important;}
}
@-moz-document domain("wikipedia.de"){
DIV[id^="banner"]{-moz-binding: url(about:abp-elemhidehit?966512347375#dummy) !important;}
}
@-moz-document domain("wired.com"){
DIV[class*="banner"]{-moz-binding: url(about:abp-elemhidehit?663325418119#dummy) !important;}
}
