#container
{
	margin: 0 auto;
	width: 800px;
	background: #fff;
	font-family: "Calibri";
	margin-bottom: 10px;
}

#header
{
	padding: 10px;
	color: steelblue;	
	font-weight: bold;
	background: gainsboro;
	background-image: -webkit-linear-gradient(top,steelblue,white); 
	background-image: -moz-linear-gradient(top,steelblue,white); 
	background-image: -o-linear-gradient(top,steelblue,white); 
	background-image: linear-gradient(top,steelblue,white);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#nadpis { 
	margin-bottom: 10px; 
	margin-top: 0px;
	padding: 5px;
	font-size: 3.5em;
	max-height: 50px;
	color: white;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
  font-family: 'Tahoma', cursive;
	}

#navigation
{
	margin: 5px 0;
	width: 100%;
	background: steelblue;
	float: right;
}

#navigation ul
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	float: left;
	padding: 3px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

#navigation mi li a
{
	float: left;
	padding: 3px 10px;
	color: gold;
	text-decoration: none;
	border-right: 1px solid #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	font-size: 0.9em;
}

#navigation li a:hover { background: steelblue; }

#content-container
{
	float: left;
	width: 800px;	
}

#content
{
	float: right;
	width: 540px;
	padding: 20px 0px;
	margin: 0px;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: left;
	width: 240px;
	background: white;
	padding-top: 10px;
}

.blok {
	padding: 8px;
	background: gainsboro;
	margin: 10px 0;
	background-image: -webkit-linear-gradient(left,#FFFFFF,gainsboro); 
	background-image: -moz-linear-gradient(left,#FFFFFF,gainsboro); 
	background-image: -o-linear-gradient(left,#FFFFFF,gainsboro); 
	background-image: linear-gradient(left,#FFFFFF,gainsboro);
	border-bottom-right-radius: 20px;
}

h4 { 
	margin: 0; 
	margin-bottom: 5px;
	background: steelblue;
	color: white;
	padding: 2px 10px;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(right,gainsboro,steelblue);
	background-image: -moz-linear-gradient(right,gainsboro,steelblue);
	background-image: -o-linear-gradient(right,gainsboro,steelblue);
	background-image: linear-gradient(right,gainsboro,steelblue);
	border-bottom-right-radius: 20px;
}

#footer
{
	clear: both;
	text-align: center;
	padding: 3px;	
}

.notice
{
	background: crimson;
	color: white;
	padding: 10px;
}

.notice a {
	color: gainsboro;
}

.flash
{
	background: gold;
	padding: 0 3px;
	margin: 2px 0;
}

.tooltip {
	position: relative;
	z-index: 10;
	font-size: 0.9em;
	font-weight: normal;
}
.tooltip span {
	display: none;
}
.tooltip a:hover {
border: solid 1px steelblue;
}
.tooltip:hover {
	z-index: 10;
}
.tooltip:hover span {
	display: block;
	position: absolute;
	border-radius: 10px;
	width: 180px;
	top: 10px;
	left: 10px;
	background-color: #CCE6FF;
	border: 1px solid gainsboro;
	padding: 7px;
	color: black;
	text-decoration: none;
}

.container {
    padding: 2em 4em;
    background-color: #EFEFEF;	
}
.list1 {
	padding-left: 15px;
}

#award {
	float: right;	
}


.pic {
  border: 2px solid #fff;  
  float: right;
  height: 48px;
  width: 48px;
  margin: 5px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

#slider-wrapper{
			width: 540px;
			height: 270px;
			margin: 10px auto;
			position: relative;
			margin-bottom: 0px;
			background: rgba(0,0,0,0.5);
			overflow: hidden;
		}
				
				#s1{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: -84px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s2{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: -60px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s3{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: -36px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s4{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: -12px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s5{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: 12px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s6{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: 36px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s7{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: 60px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				
				#s8{
					padding: 6px;
					background: black;
					position: absolute;
					left: 50%;
					top: 240px;
					margin-left: 84px;
					border-radius: 20px;
					opacity: 0.3;
					cursor: pointer;
					z-index: 999;
				}
				#s1:hover, #s2:hover, #s3:hover, #s4:hover, #s5:hover, #s6:hover, #s7:hover, #s8:hover { opacity: 1;}
				
			.inner-wrapper{
				width: 540px;
				height: 270px;
				position: absolute;
				top: 0;
				left: 0;
				margin-bottom: 0px;
				overflow: hidden;
			}
				.control{ display: none;}
				
				#Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
				#Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
				#Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
				#Slide4:checked ~ .overflow-wrapper{ margin-left: -300%; }
				#Slide5:checked ~ .overflow-wrapper{ margin-left: -400%; }
				#Slide6:checked ~ .overflow-wrapper{ margin-left: -500%; }
				#Slide7:checked ~ .overflow-wrapper{ margin-left: -600%; }
				#Slide8:checked ~ .overflow-wrapper{ margin-left: -700%; }
				
				#Slide1:checked + #s1 { opacity: 1; }
				#Slide2:checked + #s2 { opacity: 1; }
				#Slide3:checked + #s3 { opacity: 1; }
				#Slide4:checked + #s4 { opacity: 1; }
				#Slide5:checked + #s5 { opacity: 1; }
				#Slide6:checked + #s6 { opacity: 1; }
				#Slide7:checked + #s7 { opacity: 1; }
				#Slide8:checked + #s8 { opacity: 1; }
				
			.overflow-wrapper{
				width: 800%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				overflow-y: hidden;
				z-index: 1;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			
				.slide img{
					width: 12.5%;
					float: left;
				}
				
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 	  margin: 5px;
	  float: right;
    border: 0px;
    }  
 
.rotate:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.poznamka {
	vertical-align: super;
	font-size: 0.7em;
}

.ucet{
	text-align: center;
	font-family: "Courier New";
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	background: white;
	font-size: 20px;
}

.courier {
	font-family: "Courier New";
	font-weight: bold;
	color: gray;
}

.keys {
	float: right;
	padding: 10px 3px;
	margin-left: 5px;
	margin-bottom: 5px;
	background: gray;
	color: white;
	border: dotted 1px gainsboro;
}

.key {
	margin: 5px;
	padding: 3px;
	background: white;
	color: black;
	font-weight: bold;
	font-size: 1.3em;
	font-family: "Courier New";
}

.ramik {
	border: solid 2px steelblue;
	padding: 10px;
	margin: 10px 0;
	border-bottom-left-radius: 20px;
	background: whitesmoke;
	background-image: -webkit-linear-gradient(top,whitesmoke,white); 
	background-image: -moz-linear-gradient(top,whitesmoke,white); 
	background-image: -o-linear-gradient(top,whitesmoke,white); 
	background-image: linear-gradient(top,whitesmoke,white);
	
}

.column1 {
	width: 50%;
	text-align: right;
}

.column2 {
	width: 50%;
	text-align: left;
}

.head {
	border-bottom: 2px solid bluesteel;
}

table {
  background: white;
  width: 100%;
}

a {
    font-weight: bold;
}