* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: beige;
}
#stranka {
	width: 755px;
	margin: 10px auto 0 auto;
	text-align: left;
	font: 15px Calibri;
	color: gray;
	padding: 10px;
}
#top {
	float: right;
	text-align: right;
	padding: 10px 0 10px 0;
}
#top a {
	text-decoration: none;
}
#top a:hover {
	text-decoration: underline;
}
#patka{
margin-top: 15px;
border-top: 10px solid lightgray;
clear: both;
}
a:hover {
	text-decoration: underline;
}
.tabs li {
	list-style: none;
	display: inline;
}
.tabs a:hover {
	text-decoration: underline;
}
.tabs a {
	padding: 2px 8px 2px 8px;
	display: inline-block;
	text-decoration: none;
	background: gainsboro;
	border: 1px solid gray;
	border-radius: 0 10px 0 10px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
}
.tabs a.active {
	color: white;
	background-color: orange;
	border-radius: 0 10px 0 10px;
}
.keys {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 3px solid silver;
	border-right: 3px solid silver;
	background-color: white;
	font: bold 20px 'Courier New', Courier, 'Andale Mono', monospace;
	padding: 4px 10px;
	color: black;
}
#nadpis {
	line-height: 55px;
 	border-top: 10px solid gainsboro;
	border-bottom: 10px solid gainsboro;
	padding: 5px 0 10px 0;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 50px;
	font-weight: bold;
	color: orange;
	text-shadow: 2px 2px 0px rgb(80,80,80);
 	/*filter: dropshadow(color=rgb(80,80,80), offx=2, offy=2);*/
}
.nadpis2 {
	color: white;
	background: orange;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	border-radius: 0 10px 0 10px;
	margin-bottom: 5px;
}
ul.a1 {
	list-style-type: disc;
	list-style-position: inside;
	margin: 10px 0 10px 15px;
	padding-left: 5px;
	border-left: 5px solid lightgray;
}
table {
	border: 2px solid lightslategray;
	border-collapse: collapse;
	border-spacing: 0px;
	background: white;
	width: 100%;
	color: black;
}
table td {
	padding: 5px 3px 3px 3px;
	border: 1px solid lightslategray;
	vertical-align: top;
}
.t35 {
	width: 35%;
}
.column1 {
	text-align: right;
	width: 150px;
}
.aut1 {
	width: 330px;
}
.aut2 {
	width: 120px;
}
.aut3 {
	width: 105px;
}
.courier {
	font-weight: bold;
	font-family: 'Courier New', Courier, 'Andale Mono', monospace;
}
.left {
	position: relative;
	top: -20px;
	left: 0px;
}
.left2 {
	float: left;
	margin: 5px;
	border: 0px;
}
