<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="565" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/4/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAPt444uA/rIbHgwMB/4DAN8gPdAMAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAPt444uA/rIbHgwMB/4DAN8gPdAMAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPt444uA/rIbHgwMB/4DAN8gPdAMAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJvC9llAf9kNDwaGA/8BA+M53wwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAKu//0lAf9kNDwaGA/8B5fnufQwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAKu//0lAf9kNDwaGA/8B5fnufQwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAKu//0lAf9kNDwaGA/8B5fnufQwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAKu//0lAf9kNDwaGA/8B5fnufQwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOM4/lpAf9kNDwaGA/8BMh6y4gwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOM4/lpAf9kNDwaGA/8BMh6y4gwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOM4/lpAf9kNDwaGA/8BMh6y4gwAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEALsU+FpAf9kNDwaGA/8BqPibZQwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFvF/FpAf9kNDwaGA/8BR2sPZwwAAAA=" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFvF/FpAf9kNDwaGA/8BR2sPZwwAAAA=" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFvF/FpAf9kNDwaGA/8BR2sPZwwAAAA=" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJt955WA/rIbHgwMB/4DAG9m5psMAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAFu395mA/rIbHgwMB/4DAA2OCpwMAAAA" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="" />
    <add key="/lpc/it8688e/fan/3/values" value="" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEAGOYdFhAf9kNDwaGA/8BjlrdsQwAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAHuRdVhAf9kNDwaGA/8BsalEzAwAAAA=" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAHuRdVhAf9kNDwaGA/8BsalEzAwAAAA=" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAHuRdVhAf9kNDwaGA/8BsalEzAwAAAA=" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEADvjfFhAf9kNDwaGA/8BZPiiKgwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>