HTML
{
	background: #FFFFFF;
}
BODY
{
	font-family: Tahoma, Arial, Verdana;
	color: #000000;
	font-size: 9px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	font-weight: normal;
}
TR
{
	table-layout: fixed;
	min-height: 0px;
	height: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}
TD
{
	font-family: Tahoma, Arial, Verdana;
	color: #000000;
	font-size: 10pt;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	font-weight: normal;
	min-height: 0px;
	height: 0px;
	vertical-align: top;
}
TABLE
{
	table-layout: fixed;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	border: 1px solid #A5A5A5;
}
H1
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 18px;
	color: #272C3E;
	margin-top: 10pt;
	margin-bottom: 8pt;
	text-align: center;
	font-weight: bold;
	background-repeat: repeat-x;
}
H2
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 12pt;
	color: #343985;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: left;
	font-weight: bold;
}
H3
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 16px;
	color: #FFF5AC;
	margin-top: 1pt;
	margin-bottom: 1pt;
	text-align: center;
	font-weight: bold;
}
H4
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 16px;
	color: #3346AD;
/*	margin-left: 55px;*/
	margin-top: 10pt;
	margin-bottom: 1pt;
	text-align: left;
	font-weight: bold;
}
SPAN
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 8pt;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #010101;
	font-weight: bold;
	vertical-align: top;
}
.orange_body
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 9px;
	color: #FF6B08;
	font-weight: bold;
}
.done
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 9px;
	color: #831616;
	font-weight: normal;
	text-decoration: line-through;
}
.heig
{
	min-height: 120px;
	height: 90%;
	background: #FFFFFF;
	padding: 1px;
}
.day
{
	background-color: #656565;
	border-top: 0px solid #9B9B9B;
	border-left: 0px solid #909090;
	border-bottom: 2px solid #303030;
	border-right: 1px solid #303030;
	min-height: 100px;
	height: 100px;
	background-image: url(report_fill.gif);
	background-repeat: repeat-x;
}
.date
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10pt;
	width: 70px;
	color: #7B0606;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}
.time
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 7pt;
	width: 55px;
	color: #6B0C0C;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}
.subj
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 8pt;
	color: #0902C1;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
}
.note
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 12pt;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
}