<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="565" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/4/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJN4teTck84bHgwMB/4XZbQxMkCAEwAqQ4UAGAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGUDAYqoLAJDYCjEYAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGYCAsaHaBQA/zgaCGAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGYAgvU3MFQAuP5I/GAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGYCAseG3CwB0VoW5GAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGcCgwQ4AjhIXnBgAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGcCgwR4AGCIQ6xgAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGaAAAG6X9WYYAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA/8rM9oYGaAAAG6X9WYYAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA//b+tsYGYDAv4bXEQA7hgt0GAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA//b+tsYGYBgAut6VwBZZkDKGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA//b+tsYGYCg4TK7CwAzfoQCGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA//b+tsYGcDggCsAfjKukxgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAFMTXHruSecNDwaGA//b+tsYGcBAwQkAMVS0UxgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAItcufzck84bHgwMB/5Xu7YwMgDB4a2THQH5jHddGAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAItcufzck84bHgwMB/4vutnByAACGzY7AACul+PVGAAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAItcufzck84bHgwMB/6/3N3LyAAGVXYAwa5YEhgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHvEPe/ck84bHgwMB/67NqkxMQCB74peRwAl7hdcGAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHvEPe/ck84bHgwMB/67NqkxMQCBA9tWBwD/ygMdGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHvEPe/ck84bHgwMB/67NqkxMQABX/AlRwBcxARRGAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgAClyVVjgBGYVvWGAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgAC2Z4TDgCayvT3GAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgACgfdnHAA6omMrGAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgACJptFjgD4wMXSGAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgAC5blKTgAF9nuwGAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgCCG7PDHAFZ9ss3GAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEABO9NPnck84bHgwMB/4L7TFgYgCCIPX7DgDmtC3kGAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGP9OP3ck84bHgwMB/4rzdVhYgCBCZOdAJIkmc4YAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGP9OP3ck84bHgwMB/4rzdVhYgCDSU4AI62RKhgAAAA=" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEABOXmHHuSecNDwaGA/8FynSYGIAgoMHOCQDU46YTGAAAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEABOXmHHuSecNDwaGA/8FynSYGIDA9uI3RwBxhL4tGAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQBBkKidAwCASiUnGAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQCBzsZiVwBUrQlHGAAAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQBBWIujAwApajH8GAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQCBzsZiVwBUrQlHGAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQDBvrx1DgCruWmSGAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEANOyn3HuSecNDwaGA///+ukwMQDBP5ESVwAK1aZbGAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALNKm3HuSecNDwaGA//fquswMQDBHg9TRwDHJIomGAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALNKm3HuSecNDwaGA//fquswMQCB2uJOVwDrP90eGAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEACu8PePck84bHgwMB/5v26TNxAAEdzLnOgAA/57VDRgAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEACu8PePck84bHgwMB/5v26TNxAAED7ZmugIAhMUBMxgAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEANu1d+65J503PBgYDvzPvaDGxAAEQjJeDgBZwXaXGAAAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEANu1d+65J503PBgYDvzPvaDGxAAED7ZmugIAdPpzoxgAAAA=" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAHs5N/fck84bHgwMB/7bfQhjYgCCmP5N9gDn94CTGAAAAA==" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAHs5N/fck84bHgwMB/7bfQhjYgCCF78ZHQBwfzpdGAAAAA==" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAPtzJPfck84bHgwMB/5rnwxjYgCCF78ZHQDOIpySGAAAAA==" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAPtzJPfck84bHgwMB/5rnwxjYgCCg6cYHQDdTQ9qGAAAAA==" />
    <add key="/lpc/it8688e/voltage/4/values" value="H4sIAAAAAAAEAPtzJPfck84bHgwMB/5rnwxjYgCCapE+ewAwE3bjGAAAAA==" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAPtzJPfck84bHgwMB/5rnwxjYgCCqxWZ9gBpKjAeGAAAAA==" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAON7k3vuSecNDwaGA/8lF4UxMQBBp+MGewD0jvNeGAAAAA==" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAON7k3vuSecNDwaGA/8lF4UxMQDBue/BDgBQoAosGAAAAA==" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAON7k3vuSecNDwaGA/8lF4UxMQDBLk8fBwAfSs3KGAAAAA==" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGMCAwwkAM8g8yRgAAAA=" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGMBAxwkAlSnUOBgAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGECgYZITACOxp6MYAAAA" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGMBglSMA4kcEzBgAAAA=" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGMBA1QkA3JIW6RgAAAA=" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGMBAwwkAkey4XBgAAAA=" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGIBAKN7VFQBBmn+PGAAAAA==" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGIDgwIeVLgB4fcpUGAAAAA==" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEANMRzjv3pPOGBwPDgf+/q8KYGIBA9Ns6FwCm3owOGAAAAA==" />
    <add key="/lpc/it8688e/fan/3/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>